body{
    font-size: 16px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    color: #9ba3b4;
    background-color: #0D1117;
    box-sizing: border-box;
    margin: 0;
}
.Navbar{
    display: flex;
    align-items: ceneter;
    justify-content: space-between;
    padding: 3px 0px ;
    font-weight: 400;
    top:0;
    margin: 0 100px;
    
}
.Navbar-block-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.nav-header{
    display: flex;
    align-items: center;
    justify-content: center;
}
.vscode-logo{
    width: 25px;
    height: 25px;
}
.home{
    font-weight: 500;
    font-size: 20px;
    letter-spacing: -0.2px;
    color: #C3D0E5;
    text-decoration: none;
    margin-left: 12px;
    
}
.nav-1{
    margin-left: 20px;
}
.nav-1 ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    padding-left: 0;
    gap: 20px;
}
.nav-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    list-style: none;
    gap: 10px;
}

.light-mode{
    width: 20px;
}
.search-box{
    padding: 7px 15px;
    background: transparent;
    border: 1px solid rgba(182, 183, 201, 0.681);
    color: #f8f8f8;
    border-radius: 4px;
    font-size: 16px;

    font-weight: 400;
}

.download-button{
    border: none;
    padding: 8px 16px;
    font-weight: 500;
    border-radius: 4px;
    color: white;
    background-color: #0076bf;
    line-height: 100%;
}
.mid-something{
    display:flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
    padding: 8px 40px;
}
.mid-something a{
    color:#4DAAFC;
}

.header-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;;
}
.header-main-text{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.header-main h1 {
    color: #c3d0e5;
    font-size: 72px;
    text-align: center ;
    margin-top: 10px;
    margin-bottom: 25px;
}
.header-main button{
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 18px;
}
.button-download-macos{
    background-color: #0078D4;
    border: none;
    color:white;
}
.button-copilot{
    background-color: #25292E;
    color: #C3D0E5;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.3);

}
.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.random1{
    position:absolute;
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: cenetr;
    padding: 30px;
    
}
.random1 img{
    width: 90%;
    border-radius: 25px;
    height: 80%;
}
.random2{
    position: relative;
    display: flex;
    /* background-color: blue; */
    flex-direction: row;
    justify-content: center;
    align-items: cenetr;
    box-sizing: border-box;
    border-radius: 7px;
}
.random2 img{
    width: 80%;
    border-radius: 25px;
}
/* --------- three-col-content ---------- */
.three-col-content{
    /* margin: 20px; */
    /* width: fit-content; */
    padding:20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin-top: 90px;
    align-content: space-around;
    padding: 20px 100px;
    gap: 48px;
}
.three-col-content div{
    width: calc(100%/3);
    height: 90%;
    border: 1px solid rgba(255, 255, 255, 0.12);
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.04);
    color: #9BA3B4;
    border-radius: 7px;
    padding: 16px;
    

}
.three-col-content div h3{
    color: #C3D0E5;
    margin: 10px 0;
    font-weight: 500;
    text-align: start;
    font-size: 20px;
}
.three-col-content div p{
    color: #9FB1D1;
    margin-bottom: 10px;
    font-size: 16px;
}

.three-col-content div img{
    padding:20px 10px 10px 10px;
    width: 300px;
}
.copilot-banner{
    padding: 40px 0;
    margin: 90px;
    background-image: url(https://code.visualstudio.com/assets/home/copilot-free-banner-bg-dark.webp);
    box-sizing: border-box;
    border-radius: 7px;
    border: 1px solid rgba(255, 255, 255, 0.12);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
.copilot-banner div{
    width: 50%;
    margin-left: 40px;
    text-align: start;
}
.copilot-banner div h2{
    /* width: 50%; */
    font-size: 30px;
    text-wrap: balance;
    font-weight: 500;
    line-height: 150%;
}
.copilot-banner div button{
    background-color: #25292E;
    color: #c3d0e5;
    border: 1px solid  rgba(255, 255, 255, 0.3);
    text-decoration: none;
    display: flex;
    align-items: center;
    border-radius: 4px;
    font-size: 16px;
    padding: 6px 12px;
}
/* --------------- */
.multi-edits{
    display: flex;
    margin: 40px 90px;
    align-items: center;
}
.multi-edits div:nth-child(1) {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    padding: 15px;


}
.multi-edits div:nth-child(1) h2{
    font-size: 30px;
    color: #c4c9d4;
    font-weight: 500;
    letter-spacing: -0.2px;
    margin: 0;
    
}
.multi-edits div:nth-child(1) p{
    font-size: 16px;
    color: #9ea9c2;
    letter-spacing: -0.2px;
    line-height: 1.5;
    
}
.multi-edits div:nth-child(1) a{
    color: #4DAAFC;
}
.multi-edits div:nth-child(2) {
    padding:20px 0;
    margin-left: 50px;
}
.multi-edits div img{
    width: 800px;
    border-radius: 4px;
}

.code-extension{
    display: flex;
    margin: 40px 90px;
    align-items: center;
    justify-content: space-between;
}
.code-extension-content{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    padding: 15px;
}
.code-extension-content h2{
    font-size: 30px;
    color: #c4c9d4;
    font-weight: 500;
    letter-spacing: -0.2px;
    margin: 0;
    
}
.code-extension-content p{
    font-size: 16px;
    color: #9ea9c2;
    letter-spacing: -0.2px;
    line-height: 1.5;
    
}
.code-extension-content a{
    color: #4DAAFC;
}
.extensions{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:10px;
    margin-left: 70px;
    padding-left: 40px;

}
.extension-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    border: 1px solid rgba(255, 255, 255, 0.12);;
    gap: 10px;
    padding: 16px;
    width: 80%; /* Ensures full column width */
    height: 80px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.04);
    font-size: 16px;
    font-weight: 400;

}.extension-card div:nth-child(1){
    width: 30%;
}
.extension-card div:nth-child(2){
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin: 0;
}
.extension-card div:nth-child(2) h4{
    margin: 0 0 5px 0;
    font-size: 16px;
    font-weight: 500;
}
.extension-card div:nth-child(2) p{
    margin: 0;
    font-size: 14px;
}
.extension-card div:nth-child(1) img{
    width: 50px;
    height: auto;
}
.language-support{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
    margin: 50px 100px;
}
.language-support-content{
    display: flex;
    flex-direction: column;
    width:30%;
}
.language-support-content h2{
    font-size: 30px;
    color: #c4c9d4;
    font-weight: 500;
    letter-spacing: -0.2px;
    margin: 0;
}
.language-support-content p{
    font-size: 16px;
    color: #9ea9c2;
    letter-spacing: -0.2px;
    line-height: 1.5;
    
}
.language{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px 140px;
    height: 40%;
    margin-left: 50px;
    padding: 40px;

}
.language-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 10px;
    height: 60px;
    font-size: 16px;
    font-weight: 400;
}
.language-card h4{
    font-weight: 400;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace !important;
    letter-spacing: -0.4px;
    font-size: 16px;
    margin: 0;
    line-height: 100%;
    color: #9ba3b4;
}
.language-card div img{
    width: 40px;
}

.rich-features{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-items: center;
    text-align: center;
    padding: 30px;
}
.rich-features h2{
    font-size: 30px;
    margin-bottom: 0;
    color:#C3D0E5;
    font-weight: 500;
}
.rich-features p{
    margin: 0;
    width: 35%;
    padding: 20px;
    color: #9FB1D1;
}
.features-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 90px ;
    gap:10px;

}
.features-card{
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.12);
    padding:20px 25px 25px 20px;
    border-radius: 15px;
    background-color:#25292e38;

}
.features-card div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#25292E;
    width: 35px;
    height: 35px;
    border-radius: 4px;
    padding: 5px;
}
.features-card div:nth-child(1) img{
    width: 25px;
}
.features-card div:nth-child(2){
    margin-top: 10px;
}
.features-card div:nth-child(2) h4{
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #b2bdd5;;
}
.features-card div:nth-child(2) p{
    font-size: 14px;
    color: #9ea9c2;
    letter-spacing: -0.2px;
    line-height: 1.5;
}
.footer{
    display: flex;
    justify-content: space-between;
    padding: 50px;
    margin-right: 40px;
    
}
.footer-socials{
    display: flex;
}
.footer-socials ul{
    list-style: none;
}
.footer-socials img{
    width: 25px;
    height: 20px;
}
.footer-imp-links ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    margin-left: 0;
    color: #9ea9c2;

}